<template>
  <require from="bootstrap/css/bootstrap.min.css"></require>

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <div class="navbar-brand">${title}</div>
              <div class="navbar-cred">
                <span>created by Elias Bernhaut elias.be@gmx.ch</span>
                <span>invented by Artiom Christen</span>
              </div>
          </div>
          <div class="nav navbar-nav navbar-right">
            <input class="language" type="text" value.bind="lang"
            placeholder="Language"></input>
            <label class="btn btn-default btn-file">
                <input type="file" id="file" name="file" style="display: none"
                change.delegate="fileChanged($event)"></input>
                <i class="fa fa-upload"></i> Import
            </label>
            <a class="btn btn-default btn-file export" click.delegate="exportDump()"><i class="fa
                    fa-download"></i> Export</a>
          </div>
      </div>
  </nav>
  <div class="container-fluid">
    <div class="comp-container well">
        <ul id="comp-list">
            <li class="btn btn-default" click.delegate="compare('f1')">F1-Compare</li>
            <li class="btn btn-default" click.delegate="compare('f2')">F2-Compare</li>
            <li class="btn btn-default" click.delegate="compare('f3')">F3-Compare</li>
            <li class="btn btn-default" click.delegate="compare('f1f2')">F1,F2-Compare</li>
            <li class="btn btn-default" click.delegate="compare('f2f3')">F2,F3-Compare</li>
            <li class="btn btn-default" click.delegate="compare('f1f3')">F1,F3-Compare</li>
            <li class="btn btn-default all" click.delegate="compareAll('f1f2')">Compare all vowels F1, F2</li>
            <li class="btn btn-default all" click.delegate="compareAll('f1f3')">Compare all vowels F1 - F3</li>
        </ul>
    </div>
    <div class="well">
    <div class="comp-all" if.bind="compDesc">
        <span class="comp-desc">${compDesc}</span>
        <div class="progress ${is_success ? 'progress-gold' : ''}">
            <div class.bind="progress_class"
             role="progressbar" style="width: ${compAll}%">
                ${compAll}%
            </div>
        </div>
    </div>
    <table id="letters">
      <thead>
        <tr class="overheader">
            <th></th>
            <th></th>
            <th colspan=3>
                <input type="text" value.bind="nameO" />
            </th>
            <th></th>
            <th colspan=3>
                <input type="text" value.bind="nameL" />
            </th>
            <th colspan=4></th>
        </tr>
        <tr>
            <th>Letter</th>
            <th class="spacer"><!-- Spacer --></th>
            <th>F1</th>
            <th>F2</th>
            <th>F3</th>
            <th class="spacer"><!-- Spacer --></th>
            <th>F1</dh>
            <th>F2</th>
            <th>F3</th>
            <th class="spacer"><!-- Spacer --></th>
            <th>Comp</th>
            <th class="quality">Quality</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class.bind="letter.selected_class" click.delegate="choose($event, letter)" repeat.for="letter of letters">
          <td>
            <input type="text" value.bind="letter.ch"></input>
          </td>
          <td class="spacer"></td>
          <td>
            <input type="text" value.bind="letter.f1o"></input>
          </td>
          <td>
            <input type="text" value.bind="letter.f2o"></input>
          </td>
          <td>
            <input type="text" value.bind="letter.f3o"></input>
          </td>
          <td class="spacer"></td>
          <td>
            <input type="text" value.bind="letter.f1l"></input>
          </td>
          <td>
            <input type="text" value.bind="letter.f2l"></input>
          </td>
          <td>
            <input type="text" value.bind="letter.f3l"></input>
          </td>
          <td class="spacer"></td>
          <td>
              ${letter.comp}
          </td>
          <td>
              <div class="progress ${letter.is_success ? 'progress-gold' : '' }">
                <div class.bind="letter.progress_class"
                 role="progressbar" style="width: ${letter.compRes}%">
                    ${letter.compRes}%
                </div>
            </div>
          </td>
          <td click.trigger="removeLetter($index)" class="remove"><i class="fa fa-remove"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="draggable" show.bind="showMouth">
    </div>
    <div class="plot-container">
            <p><button click.delegate="addLetter()" class="add"><i class="fa fa-plus"
                    aria-hidden="true"></i></button><button
                click.delegate="removeSelected()" class="remove-selected"><i class="fa
                    fa-remove" aria-hidden="true"></i></button></p>
          <div class="btn-area">
            <button class="btn btn-lg mouth" click.delegate="toggleMouth()">Toggle mouth</button>
            <table>
              <tr>
                <td> <button class="btn btn-lg btn-primary analyse" click.delegate="analyseO()">Analyse ${nameO}</button> </td>
                <td> <button class="btn btn-lg btn-success analyse" click.delegate="analyseL()">Analyse ${nameL}</button> </td>
                <td> <button class="btn btn-lg analyse" click.delegate="analyseOL()">Analyse ${nameO + ' / ' + nameL}</button> </td>
                <td> <button class="btn btn-lg analyse" click.delegate="compareArea()">Compare Areas</button> </td>
              </tr>
              <tr>
                <td> <button class="btn btn-lg btn-primary analyse ${showAreaO ? 'active' : ''}" 
                  data-toggle="button" aria-pressed="${showAreaO}" click.delegate="areaO()">Toggle Area ${nameO}</button> </td>
                <td> <button class="btn btn-lg btn-success analyse ${showAreaL ? 'active' : ''}" 
                  data-toggle="button" aria-pressed="${showAreaL}" click.delegate="areaL()">Toggle Area ${nameO}</button> </td>
                <td> <button class="btn btn-lg analyse ${showAreaO || showAreaL ? 'active' : ''}" 
                  data-toggle="button" aria-pressed="${showAreaO || showAreaL}" click.delegate="areaOL()">Toggle Area ${nameO + ' / ' + nameL}</button> </td>
                <td> <button class="btn btn-lg analyse" 
                  data-toggle="button" aria-pressed="false" click.delegate="toggleArea()">Toggle Area Comp</button> </td>
              </tr>
            </table>
            <div class="area-data" if.bind="showCompArea">
              <h3>Area comparison</h3>
              <div class="progress" style="background-color: ${compAreaSide === 1 ? '#03a9f4' : '#8bc34a'};">
                <div role="progressbar" style="width: ${compArea}%;background-color: ${compAreaSide === 1 ? '#8bc34a' : '#03a9f4'};">
                  ${compAreaSide === 1 ? nameL : nameO}: ${compArea}% of ${compAreaSide === 1 ? nameO : nameL}
                </div>
              </div>
            </div>
          </div>
          <p class="analysis-title" if.bind="currentAnalysis">Analysis of
          ${analysisName}</p>
          <div id="chart-container">
            <svg id="chart" width="800" height="500"></svg>
          </div>
    </div>
    </div>
  </div>
</template>
