body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------- CUSTOM ------------ */

table,
.comp-container,
.plot-container {
  z-index: 100;
  position: relative;
}

#letters {
  border: none;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}

#letters input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
}

#letters tbody tr:last-child td {
  border-bottom: 1px solid grey;
}

#letters .overheader,
#letters .overheader th {
    border: none !important;
    font-size: 1.3em;
}

#letters td,
#letters th {
  padding: 0px 10px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  text-align: center;
}

#letters th {
  border-top: 1px solid grey;
}

#letters tr input {
  background-color: transparent;
}
#letters tbody tr:hover {
  background-color: rgba(10, 10, 10, 0.2) !important;
  cursor: pointer;
}
#letters tbody tr.selected {
  background-color: rgba(10, 10, 10, 0.3);
}

ul {
  padding: 0;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0 !important;
}
.comp-container {
  margin-top: 70px;
}

#comp-list li {
  display: block;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 3px 10px;
  margin-bottom: 2px;
  margin-right: 2px;
  width: 33%;
  cursor: pointer;
}
#comp-list li.all {
    width: calc(50% - 2px);
}

.comp-all {
    margin: 20px 0;
    text-align: center;
}
.comp-desc {
    font-size: 1.2em;
    font-weight: bold;
}

.language {
  font-size: 1.2em;
  padding: 5px 10px;
  font-weight: bold;
}

.navbar-right > * {
    margin-right: 10px;
    margin-top: 7px;
}

.navbar-right > .btn {
    margin: 0 !important;
    margin-right: 10px !important;
    margin-top: -2px !important
}

.spacer {
  border: none !important;
  border-top: none !important;
}
.quality {
  min-width: 150px;
}

.remove {
  color: red;
  cursor: pointer;
}
.remove:hover {
  background-color: rgba(10, 10, 10, 0.2)
}
.remove:hover i {
  transform: scale(1.1);
}

.remove-selected {
  background-color: #f44336;
  border: 1px solid rgba(10, 10, 10, 0.2);
  padding: 6px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.5em;
  margin-left: 10px;
}
.remove-selected:hover {
  background-color: rgba(244, 67, 54, 0.6);
}

.add {
  background-color: #4caf50;
  border: 1px solid rgba(10, 10, 10, 0.2);
  padding: 6px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.5em;
}
.add:hover {
  background-color: #66bb6a;
}

.analyse {
    margin: 10px 20px;
    margin-left: 0;
    padding: 10px 25px;
    background-color: rgba(10, 10, 10, 0.2);
    border: 1px solid grey;
}

.analyse:hover {
    background-color: rgba(10, 10, 10, 0.1);
}

.analysis-title {
    font-size: 17pt;
    font-weight: bold;
    margin-top: 50px;
    width: 600px;
    text-align: center;
}

.mouth {
    margin: 10px 20px;
    padding: 10px 25px;
    background-color: rgba(228, 121, 115, 0.5);
    border: 1px solid grey;
    margin-left: 30px;    
}
.mouth:hover {
    background-color: rgba(228, 121, 115, 0.3);
}

.well {
    z-index: 0;
}

.draggable {
    z-index: 10;
    width: 500px;
    height: 400px;
    background-image: url("mund.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 250px;
    position: absolute;
    left: 15%;
}

p.analysis-title {
    z-index: 100;
    position: relative;
    left: 41%;
    transform: translateX(-50%);
}

#chart {
    z-index: 100;
    position: relative;
    pointer-events: none;
}


/* ---- BTN-AREA ---- */

.btn-area {
  display: inline-block;
}

/* ---- HEADER ---- */

.navbar-cred {
  float: left;
}

.navbar-cred span {
    padding: 0 15px;
    margin-top: 3px;
    font-size: 15px;
    line-height: 20px;
    float:left;
    color: rgba(255, 255, 255, 0.2);
}
.navbar-cred span:last-child {
  clear: left;
}

/* ---- PROGRESSBAR ---- */
.progress {
  margin: 0 !important;
}

.progress-bar-lightgreen {
  background-color: #9ccc65 !important;
}
.progress-bar-rose {
  background-color: #f48fb1 !important;
}
.progress-gold {
  border: 2px solid #ffd700 !important;
  box-sizing: content-box;
}


/* ---- FILE ------ */
#file {
    background-color: rgba(10, 10, 10, 0.2);
}

#export {
    margin-bottom: 20px;
}

/* ---- SVG ------ */
.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.tick line {
    opacity: 0.2;
}

.legend {
    font-size: 13pt;
    font-weight: bold;
    stroke: black;
    border: none;
}

svg {
    margin-bottom: 100px;
}

.plot-container {
    text-align: center;
    pointer-events: none;
}
.plot-container button {
  pointer-events: all;
}
